<nz-page-header 
  class="site-page-header" 
  nzTitle="Currency Totals">
</nz-page-header>

<nz-table 
  [nzData]="listOfItems" 
  [nzShowPagination]="false" 
  [nzLoading]="loading"
  nzBordered>

  <thead>
    <tr>
      <th>Currency</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of listOfItems">
      
      <td>{{ item.currency }}</td>

      <td>
        <nz-tag nzColor="blue">
          {{ item.total }}
        </nz-tag>
      </td>

    </tr>
  </tbody>
</nz-table>